* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.65;
}

img {
  width: 100%;
}

@media screen and (min-width: 961px) {
  img {
    width: 50%;
  }
  body {
    text-align: center;
  }
}
